.page-pets {
  padding: 32px;
  .pet-item {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}
