.page-pets {
  padding: 64px 32px 0 120px;
  background-color: #154e7b;
  height: 100%;
  .pet-item {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px 32px 32px 100px;
    margin-bottom: 32px;
    height: 140px;
    line-height: 140px;
    position: relative;
    .avatar {
      position: absolute;
      top: -10px;
      left: -80px;
      width: 160px;
      height: 160px;
      border: 4px solid #fff;
      background-color: red;
    }
    .info {
      align-items: center;
      .name {
        color: #154e7b;
      }
      .age {
        font-size: 28px;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 160px;
    left: 0;
    right: 0;
    padding: 0 40px;
  }
  .addBtn {
    // inset: 0;
    font-weight: bold;
    width: 100%;
    color: #dc7115;
    border: none;
    background-color: #ffce81;
    border-radius: 60px;
  }
}
